@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
@import url('https://fonts.googleapis.com/css?family=Questrial');

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	font-family: 'Questrial', sans-serif;
	margin: 0 auto;
	padding: 0;
}

/* navigation */

.navbar-inverse {
	background-color: transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}

.nav.navbar-nav li > a {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 2px;
}

.nav.navbar-nav li {
	padding: 15px;	
}

.nav.navbar-nav li > a:hover {
	background-color: #fc7171;
	border-radius: 50px;
	transition: 0.5s;
}

.icon-bar {
	padding: 2px;
}

.navbar-collapse {
	border: none;
	box-shadow: none;
	text-align: center;
}

.background {
	background: url(zdjecia/jumbo.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.layer {
	position: absolute;
	background-color: rgba(151, 120, 178, 0.7);
	width: 100%;
	height: 100%;
}

/* header */

header h1 {
	color: #fff;
	font-weight: 700;
	font-family: 'Montserrat',sans-serif;
	font-size: 6.25em;
	letter-spacing: 5px;
	margin-top: 250px;
	text-transform: uppercase;
	text-align: center;
	-webkit-animation-name: subtitle;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease-out;
	-moz-animation-name: subtitle;
	-moz-animation-duration: 2s;
	-moz-animation-timing-function: ease-out;
}

@-webkit-keyframes subtitle {
	0% { opacity: 0; -webkit-transform: scale(0.5); }
	100% { opacity: 1; -webkit-transform: scale(1); }
}

@-moz-keyframes subtitle {
	0% {opacity: 0; -moz-transform: scale(0.5);}
	100% {opacity: 1; -moz-transform: scale(1);}
}

header p {
	color: #fff;
	display: inherit;
	font-family: 'Montserrat',sans-serif;
	overflow: hidden;
	font-weight: bold;
	font-size: 3.125em;
	letter-spacing: 4px;
	margin: 0 auto;
	margin-top: 150px;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
	animation: typing 5.5s steps(50, end),
			blink-caret .8s step-end alternate;
}

@-webkit-keyframes typing {
	from { width: 0; }
	to { width: 100%; }
}
/* section about me */


.aboutMe {
	background-color: #f5f6f7;
	height: auto;
	text-align: center;
	position: relative;
}

.aboutMe h2 {
	color: #595555;
	font-size: 4.375em;
	font-family: 'Montserrat',sans-serif;
	letter-spacing: 4px;
	margin: 50px 0 50px 50px;
	writing-mode: vertical-rl;
	text-transform: uppercase;
	text-align: center;
	text-orientation: upright;
}

.description {
	background-color: #595555;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 12px;
}

.description p {
	color: #fff;
	font-size: 1.875em;
	line-height: 50px;
	margin-left: 100px;
}

.aboutMe p:first-child {
	margin-top: 200px;
}

/* icons of frameworks/technologies */

.webIcons {
	text-align: center;
}

.webIcons i {
	display: inline-block;
	font-size: 5em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.4em;
	margin-left: 50px;
	transition: 1s ease-out;
	-moz-transition: 1s ease-out;
	-webkit-transition: 1s ease-out;
}

.icon-html5-alt:hover {
	color: #f16529;
	transform: scale(1.5);
}

.icon-css3-alt:hover {
	color: #1f62ae;
	transform: scale(1.5);
	transition: 0.7s ease;
}

.icon-sass:hover {
	color: #cf649a;
	transform: scale(1.5);
	transition: 0.7s ease;
}

.icon-bootstrap:hover {
	color: #5d3f87;
	transform: scale(1.5);
	transition: 0.7s ease;
}

.icon-javascript-alt:hover {
	color: #f0db4f;
	transform: scale(1.5);
	transition: 0.7s ease;
}

.icon-jquery:hover {
	color: #0968ac;
	transform: scale(1.5);
	transition: 0.7s ease;
}

.icon-grunt:hover {
	color: #fcaa1a;
	transform: scale(1.5);
	transition: 0.7s ease;
}

.icon-git:hover {
	color: #f34f29;
	transform: scale(1.5);
	transition: 0.7s ease;
}

/* section projects */

.projects img {
	height: 50vh;
}

.image-container {
	position: relative;
	border: 5px solid #fff;
}

.img-responsive {
	display: block;
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	height: 0;
	width: 100%;
	overflow: hidden;
	transition: 0.7s ease-in-out;
	background-color: rgba(151, 120, 178, 0.91);
}

.image-container:hover .overlay {
	bottom: 0;
	height: 100%;
}

.text {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.text h1 {
	color: #fff;
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
	font-size: 1.56em;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.overlay a {
	border: 4px solid #fff;
	border-radius: 5px;
	letter-spacing: 2px;
	color: #fff;
	padding: 10px;
	text-decoration: none;
	background-image: linear-gradient(90deg, #fff 50%, transparent 50%);
	background-position: 100% 0;
	background-size: 300%;
}

.overlay a:hover {
	background-position: 0 100%;
	color: #6d6d6d;
	font-weight: bold;
	transition: 1.2s ease-in-out;
}

.overlay p {
	color: #fff;
	font-size: 1em;
	margin-top: 50px;
}

.overlay p:nth-child(even) {
	margin-top: 15px;
}

/* section contact */

.contact {
	background-color: #f5f6f7;
}

.verticalLine h2 {
	position: relative;
}

.verticalLine h2::after {
	content: '';
	display: block;
	position: absolute;
	right: -20px;
	top: 0;
	width: 7px;
	height: 100%;
	background: #9778B2;
	border-radius: 1px;
	-webkit-animation-name: vertical;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-moz-animation-name: vertical;
	-moz-animation-duration: 3s;
	-moz-animation-timing-function: linear;
	-moz-animation-direction: alternate;
}

@-webkit-keyframes vertical {
	0% {height: 0%;}
	25% {height: 25%;}
	50% {height: 50%;}
	75% {height: 75%;}
	100% {height: 100%;}
}

@-moz-keyframes vertical {
	0% {height: 0%;}
	25% {height: 25%;}
	50% {height: 50%;}
	75% {height: 75%;}
	100% {height: 100%;}
}

.contact h2 {
	color: #595555;
	font-size: 4.375em;
	font-family: 'Montserrat',sans-serif;
	letter-spacing: 4px;
	margin: 50px 0 50px 50px;
	writing-mode: vertical-rl;
	text-transform: uppercase;
	text-align: center;
	text-orientation: upright;
}

.contact .form-control:first-child {
	margin-top: 50px;
}

.contact .form-control {
	background-color: #595555;
	color: #fff;
	margin-top: 20px;
	margin-left: 100px;
	width: 75%;
}

.contact .btn-send {
	margin-top: 20px;
	margin-left: 100px;
}

.contact i {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 100px;
	font-size: 3.125em;}
}

.span-size {
	display: inline-block;
	font-size: 0.7em;
}

.buttonSubmit {
	background-color: #fc7171;
	border: none;
	color: #fff;
	padding: 15px;
	margin-right: 50px;
	transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
}

.buttonSubmit:hover {
	-webkit-animation-name: buttonShake;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes buttonShake {
	0% {-webkit-transform: translate(2px, 1px) rotate(0deg);}
	25% {-webkit-transform: translate(-1px, -2px) rotate(-1deg);}
	50% {-webkit-transform: translate(1px, 2px) rotate(1deg);}
	75% {-webkit-transform: translate(3px, -1px) rotate(-1deg);}
	100% {-webkit-transform: translate(1px, 1px) rotate(0deg);}
}

.directContact a:hover {
	text-decoration: none;
}

/* footer */

footer {
	background-color: #595555;
	text-align: center;
}

footer .fa {
	font-size: 3.125em;
	display: inline-block;
	padding: 15px;
}

footer .fa-arrow-up {
	color: #fff;
}

footer a:hover {
	text-decoration: none;
}

footer .fa:hover {
	color: #fc7171;
	cursor: pointer;
}

/* grid */

.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* query medias */

@media (max-width: 767px) {
	.col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    header h1 {	
    	font-size: 2.5em;
    	margin-top: 40px;
    }

    header p {
    	font-size: 1.25em;
    	margin-top: 70px;
    	white-space: normal;
    }

    .aboutMe h2 {
    	font-size: 2em;
    }

    .aboutMe p {
    	font-size: 1em;
    	margin-left: 100px;
    }

    .aboutMe p:first-child {
    	margin-top: 50px;
    }

    .description {
    	margin-left: 100px;
    }

    .description p {
    	margin-left: 0;
    }

    .text h1 {
    	font-size: 1.1em;
    }

    .overlay {
    	font-size: 0.8em;
    }

    .contact h2 {
    	font-size: 2em;
    }

    .webIcons i {
    	font-size: 2.5em;
    }

    .contact .form-control {
		width: 70%;
	}

	.buttonSubmit {
		display: block;
		margin: 0 auto;
		margin-top: 20px;
		margin-left: 100px;
	}

	.span-size {
		display: inline-block;
		font-size: 0.5em;
	}

	.directContact a {
		font-size: 1em;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

    header h1 {	
    	font-size: 3.125em;
    }

    header p {
    	font-size: 1.875em;
    	white-space: normal;
    }

    .aboutMe h2 {
    	font-size: 2.5em;
    }

    .aboutMe p {
    	font-size: 1.2em;
    	margin-left: 100px;
    }

    .aboutMe p:first-child {
    	margin-top: 80px;
    }

    .contact h2 {
    	font-size: 2.5em;
    }

    .contact p {
    	font-size: 1.2em;
    	margin-top: 150px;
    	margin-left: 100px
    }

    .webIcons i {
    	margin-left: 100px;
    	margin-right: 50px;
    	font-size: 2.5em;
    }

    .contact .form-control {
		width: 75%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}

    .aboutMe h2 {
    	font-size: 2.5em;
    }

    .aboutMe p {
    	font-size: 1.5em;
    }

    .aboutMe p:first-child {
    	margin-top: 100px;
    }

    .description {
    	margin-left: 150px;
    }

    .webIcons i {
    	margin-left: 100px;
    	margin-right: 50px;
    	font-size: 3em;
    }

    .contact h2 {
    	font-size: 2.5em;
    }

    .contact p {
    	font-size: 1.5em;
    	margin-top: 150px;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {

	.aboutMe h2 {
    	font-size: 3em;
    }

    .aboutMe p:first-child {
    	margin-top: 100px;
    }

	.webIcons i {
		font-size: 3.5em;
		margin-left: 50px;
	}

	.contact h2 {
		font-size: 3em;
	}
}