@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
@import url('https://fonts.googleapis.com/css?family=Questrial');

* {
	box-sizing: border-box;
	font-family: 'Questrial', sans-serif;
	margin: 0 auto;
	padding: 0;
}

/* navigation */

.navbar-inverse {
	background-color: transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}

.nav.navbar-nav li > a {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 2px;
}

.nav.navbar-nav li {
	padding: 15px;	
}

.nav.navbar-nav li > a:hover {
	background-color: #4f89bc;
	border-radius: 50px;
	transition: 0.5s;
}

.icon-bar {
	padding: 2px;
}

.navbar-collapse {
	border: none;
	box-shadow: none;
	text-align: center;
}

.background {
	background: url(zdjecia/jumbo.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.layer {
	position: absolute;
	background-color: rgba(151, 120, 178, 0.7);
	width: 100%;
	height: 100%;
}

/* header */

header h1 {
	color: #fff;
	font-weight: 700;
	font-family: 'Montserrat',sans-serif;
	font-size: 6.25em;
	letter-spacing: 5px;
	margin-top: 250px;
	text-transform: uppercase;
	text-align: center;
}

header p {
	color: #fff;
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
	font-size: 3.125em;
	letter-spacing: 4px;
	margin-top: 150px;
	text-transform: uppercase;
	text-align: center;
}

/* section about me */

.aboutMe {
	background-color: #f5f6f7;
	height: auto;
	text-align: center;
	position: relative;
}

.aboutMe h2 {
	color: #6d6d6d;
	font-size: 4.375em;
	font-family: 'Montserrat',sans-serif;
	letter-spacing: 4px;
	margin: 50px 0 50px 50px;
	writing-mode: vertical-rl;
	text-transform: uppercase;
	text-align: center;
	text-orientation: upright;
}

.aboutMe p {
	font-size: 1.875em;
	line-height: 50px;
	margin-left: 100px;
}

.aboutMe p:first-child {
	margin-top: 200px;
}

/* icons of frameworks/technologies */

.webIcons {
	text-align: center;
}

.webIcons i {
	display: inline-block;
	font-size: 5em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.4em;
	margin-left: 50px;
	transition: 1s ease-out;
	-moz-transition: 1s ease-out;
	-webkit-transition: 1s ease-out;
}

.icon-html5-alt:hover {
	color: #f16529;
	transform: scale(1.5);
}

.icon-css3-alt:hover {
	color: #1f62ae;
	transform: scale(1.5);
	transition: 0.7s ease;
}

.icon-sass:hover {
	color: #cf649a;
	transform: scale(1.5);
	transition: 0.7s ease;
}

.icon-bootstrap:hover {
	color: #5d3f87;
	transform: scale(1.5);
	transition: 0.7s ease;
}

.icon-javascript-alt:hover {
	color: #f0db4f;
	transform: scale(1.5);
	transition: 0.7s ease;
}

.icon-jquery:hover {
	color: #0968ac;
	transform: scale(1.5);
	transition: 0.7s ease;
}

.icon-grunt:hover {
	color: #fcaa1a;
	transform: scale(1.5);
	transition: 0.7s ease;
}

.icon-git:hover {
	color: #f34f29;
	transform: scale(1.5);
	transition: 0.7s ease;
}

/* section projects */

.projects img {
	height: 50vh;
}

.image-container {
	position: relative;
	border: 5px solid #fff;
}

.img-responsive {
	display: block;
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	height: 0;
	width: 100%;
	overflow: hidden;
	transition: 0.7s ease-in-out;
	background-color: rgba(151, 120, 178, 0.91);
}

.image-container:hover .overlay {
	bottom: 0;
	height: 100%;
}

.text {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.text h1 {
	color: #fff;
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
	font-size: 1.56em;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.overlay a {
	border: 4px solid #fff;
	border-radius: 5px;
	letter-spacing: 2px;
	color: #fff;
	padding: 10px;
	text-decoration: none;
	background-image: linear-gradient(90deg, #fff 50%, transparent 50%);
	background-position: 100% 0;
	background-size: 300%;
}

.overlay a:hover {
	background-position: 0 100%;
	color: #6d6d6d;
	font-weight: bold;
	transition: 1.2s ease-in-out;
}

.overlay p {
	color: #fff;
	font-size: 1em;
	margin-top: 50px;
}

.overlay p:nth-child(even) {
	margin-top: 15px;
}

/* section contact */

.contact {
	background-color: #f5f6f7;
}

.verticalLine h2 {
	position: relative;
}

.verticalLine h2::after {
	content: '';
	display: block;
	position: absolute;
	right: -20px;
	top: 0;
	width: 7px;
	height: 100%;
	background: #9778B2;
	border-radius: 1px;
}

.contact h2 {
	color: #6d6d6d;
	font-size: 4.375em;
	font-family: 'Montserrat',sans-serif;
	letter-spacing: 4px;
	margin: 50px 0 50px 50px;
	writing-mode: vertical-rl;
	text-transform: uppercase;
	text-align: center;
	text-orientation: upright;
}

.contact p {
	font-size: 2em;
	line-height: 2.4em;
	margin-top: 250px;
	margin-left: 100px;
	text-align: center;
}

/* footer */

footer {
	background-color: #a6a6a6;
	text-align: center;
}

footer .fa {
	font-size: 3.125em;
	display: inline-block;
	padding: 15px;
}

footer .fa-arrow-up {
	color: #fff;
}

footer a:hover {
	text-decoration: none;
}

footer .fa:hover {
	color: #4f89bc;
	cursor: pointer;
}

/* grid */

.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* query medias */

@media (max-width: 767px) {
	.col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    header h1 {	
    	font-size: 2.5em;
    	margin-top: 40px;
    }

    header p {
    	font-size: 1.25em;
    	margin-top: 70px;
    }

    .aboutMe h2 {
    	font-size: 1.87em;
    }

    .aboutMe p {
    	font-size: 1em;
    	margin-left: 100px;
    }

    .aboutMe p:first-child {
    	margin-top: 50px;
    }

    .text h1 {
    	font-size: 1.1em;
    }

    .overlay {
    	font-size: 0.8em;
    }

    .contact h2 {
    	font-size: 2em;
    }

    .contact p {
    	font-size: 1em;
    	margin-top: 130px;
    	margin-left: 100px;
    }

    .webIcons i {
    	font-size: 2.5em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    header h1 {	
    	font-size: 3.125em;
    }

    header p {
    	font-size: 1.875em;
    }

    .aboutMe h2 {
    	font-size: 2.5em;
    }

    .aboutMe p {
    	font-size: 1.2em;
    	margin-left: 100px;
    }

    .aboutMe p:first-child {
    	margin-top: 80px;
    }

    .contact h2 {
    	font-size: 2.5em;
    }

    .contact p {
    	font-size: 1.2em;
    	margin-top: 150px;
    	margin-left: 100px
    }

    .webIcons i {
    	margin-left: 100px;
    	margin-right: 50px;
    	font-size: 2.5em;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
	.col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}

    .aboutMe h2 {
    	font-size: 2.5em;
    }

    .aboutMe p {
    	font-size: 1.5em;
    }

    .aboutMe p:first-child {
    	margin-top: 100px;
    }

    .webIcons i {
    	margin-left: 100px;
    	margin-right: 50px;
    	font-size: 3em;
    }

    .contact h2 {
    	font-size: 2.5em;
    }

    .contact p {
    	font-size: 1.5em;
    	margin-top: 150px;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {

	.aboutMe h2 {
    	font-size: 2.5em;
    }

    .aboutMe p:first-child {
    	margin-top: 100px;
    }

	.webIcons i {
		font-size: 3.5em;
		margin-left: 50px;
	}
}